<% unless signed_in? %>
<h1>Welcome to Gnosi!</h1>
  Gnosi is a web application using the Feedly API that lets you easily access new articles and information pertaining to whichever topic you like!
</p>
<p>
  Just click "Connect to Feedly" in the Navbar at the top of this page to get started!
</p>
<% end %>
<p style="color: red"><%= flash[:no_auth] %></p></br>

<p style="color: #55ff55"><%= flash[:success] %></p>

<p class="desc">
<!-- Generate Modals -->

<% if signed_in? %>

<div class="topics" style="text-align: center">
	<% i = 0 %>

<% @topics.each do |topic| %>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg mod" data-toggle="modal" data-target="#myModal<%=i%>">
  <%= topic %>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel<%=i%>"><%= topic %> Feeds</h4>
      </div>
      <div class="modal-body">
        <% search_topic(topic).each do |feed| %>
        <% encoded = CGI.escape(feed['feedId']) %>
        <a href="/gnosi/feeds/<%=feed['title']%>/<%=encoded%>"></p><%=feed['title']%></p></a>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% i+= 1 %>
<% end %>

<% end %>